<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content=width=device-width, initial-scale=1.0>
    <title>Hawaii Climate Analysis API</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <h2>Welcome to Hawaii Climate Analysis API</h2>
    <strong>Available Routes:</strong>
    <li>Precipitation data (all available): /api/v1.0/precipitation </li>
    <li>Stations: /api/v1.0/stations </li>
    <li>Temperature observations (for the most active station/last year available): /api/v1.0/tobs </li>
    <li>Single day - Min, Average and Max temperature observations: /api/v1.0/&#60;start&#62; </li>
    <li>Multi day - Min, Average and Max temperature observations: /api/v1.0/&#60;start&#62;/&#60;end&#62; </li>

</body>
</html>